.nav {
    align-content: center;
    justify-content: center;
}

.navbar {
    display: flex;
    margin: 0;
    height: 80px;
    list-style: none;
    gap: 40px;
}

.navbar-li{
    font-size: x-large;
}

.navbar-a{
    text-decoration: none;
    text-align: center;
}