
{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'reviews/styles/main.css' %}">
{% endblock %}
{% block content %}
<div class="h1-wrapper">
    <h1 class="h1 text-white bg-grey">Books</h1>
</div>
<div class="section-1-wrapper bg-azure">
    <section class="section-1">
        <div class="book-list-wrapper">
            <div class="book-list">
                    <div class="search-wrapper bg-white element-shadow">
                        <form class="search-form" method="get">
                            <div class="search-form-fields">
                                {{ form.search }}
                                <input class="search-button" type="submit" value="Search">
                            </div>
                            <div class="search-form-fields">
                                <span>Search by:</span>
                                <div class="search-form-field-wrapper">
                                    <span class="text-grey">{{ form.title.label }}</span>
                                    {{ form.title }}</div>
                                    <div class="search-form-field-wrapper">
                                        <span class="text-grey">{{ form.publisher.label }}</span>
                                        {{ form.publisher }}
                                    </div>
                                    <div class="search-form-field-wrapper">
                                        <span class="text-grey">{{ form.contributors.label }}</span>
                                        {{ form.contributors }} 
                                    </div>
                                </div>
                                {% if request.GET.search %}
                                <div class="search-form-field-wrapper">
                                    <span class="text-alert">{{ form.non_field_errors.as_text }}</span>
                                </div>
                                {% endif %}
                        </form>
                    </div>
                    {% if book_list %}
                    {% for book in book_list %}
                        <div class="book-card bg-white element-shadow">
                            <h2 class="book-card__title text-grey">{{ book.title }}</h2>
                            <div>
                                <p class="book-card__p">Publisher: {{ book.publisher }}</p>
                                <p class="book-card__p">Publication date: {{ book.publication_date }}</p>
                                <p class="book-card__p">Rating: {{ book.average_rating }}</p>
                                <p class="book-card__p">Number of reviews: {{ book.reviews_count }}</p>
                                {% if book.average_rating is Null %}
                                    <p class="book-card__p book-card__subtext">Provide a rating and write the first review for this book.</p>
                                {% endif %}
                                <a role="button" aria-pressed="true" href="/books/{{ book.id }}">Reviews</a>
                            </div>
                        </div>
                    {% endfor %}
                    {% endif %}
                    {% if not book_list %}
                    <p class="nothing_was_found">Nothing was found</p>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
