
{% extends 'base.html' %}
{% block content %}
<h1>Books</h1>
    {% for book in book_list %}
<ul class="list-group">
        <li class="list-group-item">
            <span class="fw-semibold text-info">Title:</span><span> {{book.title}}</span>
            </br>
            <span class="fw-semibold text-info">Publisher:</span><span> {{book.publisher}}</span>
            </br>
            <span class="fw-semibold text-info">Publication date</span><span>: {{book.publication_date}}</span>
            </br>
            <span class="fw-semibold text-info">Rating:</span><span> {{ book.average_rating }}</span>
            </br>
            <span class="fw-semibold text-info">Number of reviews:</span><span> {{book.reviews_count}}</span>
            {% if book.average_rating is Null %}
            </br>
            <span class="text-secondary">Provide a rating and write the first review for this book.</span>
            {% endif %}
            </br>
            <a class="btn btn-primary btn-sm active" role="button" aria-pressed="true" href="/book/{{ item.book.id }}/">Reviews</a>
        </li>
</ul>
    {% endfor %}

{% endblock %}
